<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <title>Layout</title>
</head>
<body>
   <div>
    <img class="aspect-1/2" src="../asset/image/cloud.avif" alt="image"> 
   </div>
   <!-- used to give specific aspect ratio of an element  -->
   <!-- <div>
    <img class="" src="../asset/image/cloud.avif" alt="image">
   </div> -->
   <!-- <div>
    <iframe class="aspect-video" width="560" height="315" src="https://www.youtube.com/embed/d7AqPH-LgmI?si=IYg1OU4RHrIR-kNB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <- this aspect ratio for video changes the video aspec size in the page -->
   </div> 
   <div class="columns-3">
       <img class="aspect-square... mt-4 p-4 h-1/6 w-1/6" src="../asset/image/1122.avif" alt="">
       <img class="aspect-square..." src="../asset/image/2211.avif" alt="">
       <img class="aspect-square..." src="../asset/image/cloud.avif" alt="">
       <!-- here we can assign 3 properties using the column property and it differ frm flex by cause flex is applied to both row and columns and its applied omly to columns -->
   </div>
   <!-- <div>
    <div class="columns-2">
      <p>Well, let me tell you something, ...</p>
      <p class="break-after-column">Sure, go ahead, laugh...</p>
      <p>Maybe we can live without...</p>
      <p>Look. If you think this is...</p>
    </div>
   </div> -->
   <!-- <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
  <p class="">Sure, go ahead, laugh...</p>
  <p>Maybe we can live without...</p>
  <p>Look. If you think this is...</p>
   </div>
   this property is done how you want to break the text in the elemt it has several attributes
   <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
  <p class="break-before-column">Sure, go ahead, laugh...</p>
  <p>Maybe we can live without...</p>
  <p>Look. If you think this is...</p>
   </div> -->
   <!-- it defines how an element should break before an element
    like  -->
    <!-- <div class="columns-2">
      <p>Well, let me tell you something, ...</p>
      <p class="break-inside-avoid-column">Sure, go ahead, laugh...</p>
      <p>Maybe we can live without...</p>
      <p>Look. If you think this is...</p>
    </div>
    <div class="columns-2">
      <p>Well, let me tell you something, ...</p>
      <p class="">Sure, go ahead, laugh...</p>
      <p>Maybe we can live without...</p>
      <p>Look. If you think this is...</p>
    </div> -->
    <!-- it defines how an textgap is increased inside an element -->


    <span class="box-decoration-slice bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white ...">
      Hello<br/>World
    </span>
    <span class="box-decoration-clone bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white ...">
      Hello<br/>World
    </span>


    <span class="box-decoration-slice bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white ...">
      Hello<br />World
    </span>
    <span class="box-decoration-clone bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white ...">
      Hello<br />World
    </span>
    <!-- used for adding box gap inside an element by margins. -->

    <div class="box-border size-32 border-4 p-4 ...">
      <!-- ..Makes box sizing accordingly  how an browser calculates elements totals size -->
    </div>
    <p>
      When controlling the flow of text, using the CSS property <span class="inline">display: inline</span> will cause the
      text inside the element to wrap normally.
    </p>
    <!-- Behaves Like Inline -->
    <p>
      While using the property <span class="inline-block">display: inline-block</span> will wrap the element to prevent the
      text inside from extending beyond its parent.
    </p>
    <!-- Here it behaves like inline but accepts block properties too -->
    <p>
      Lastly, using the property <span class="block">display: block</span> will put the element on its own line and fill its
      parent.
    </p>
    <!-- Here it behaves like an block level element that is tke full width  -->
</body>

</html>