<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <title>Layout</title>
</head>
<body>
    <h1 class="text-3xl font-bold underline border-4 border-red-50 ">
        Hello world!
      </h1>
      <!-- This is for Responsive design image aspect ration -->
      <div class="flex-row gap-3 justify-between ">
        <div>
            <img class="aspect-square object-cover ..." src="../asset/image/cloud.avif" />
        </div>
        <div >
            <img  src="../asset/image/cloud.avif" />
        </div>
    
      </div>

    
      <!-- <iframe class="aspect-video ..." width="853" height="480" src="https://www.youtube.com/embed/v9bOWjwdTlg" title="Complete Python for beginners in Hindi - Part 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
</body>
</html>